In [1]:
# order is not maintained in set
# removes duplicate items
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4}
print(x)

{1, 2, 3, 34.5, 4, 'hello', 5, 6}

In [2]:
# cannot store mutable datatype => non-hashable
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,[1,2,3]}
print(x)

TypeError: unhashable type: 'list'

In [3]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)} #Store immutable datatypes
print(x)

{1, 2, 3, 34.5, 4, 'hello', 5, 6, (1, 2, 30)}

In [4]:
print(x[0]) # cannot access from index

TypeError: 'set' object is not subscriptable

In [5]:
x = set()

print(type(x))

<class 'set'>

In [6]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.add(7) # only one item 

print(x)

{1, 2, 3, 34.5, 4, 'hello', 5, 6, 7, (1, 2, 30)}

In [7]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.update([1,2,3,4,45,234,234,]) # multiple items
print(x)

{1, 2, 3, 34.5, 4, 'hello', 5, 6, 234, 45, (1, 2, 30)}

In [2]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.update([1,2,3,4,45,234,234,], (1,2,3,4), {4,12,34}) # multiple items
print(x)

{1, 2, 3, 34.5, 4, 5, 6, 34, 234, 12, 45, 'hello', (1, 2, 30)}

In [1]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [3]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.remove(1)

print(x)

{2, 3, 34.5, 4, 5, 6, 'hello', (1, 2, 30)}

In [4]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.remove(11)

print(x)

KeyError: 11

In [5]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.discard(1)

print(x)

{2, 3, 34.5, 4, 5, 6, 'hello', (1, 2, 30)}

In [6]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.discard(11) #it doesnot show error if there is no data in list of removing

print(x)

{1, 2, 3, 34.5, 4, 5, 6, 'hello', (1, 2, 30)}

In [9]:
help(x.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [7]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.pop()

print(x)

{2, 3, 34.5, 4, 5, 6, 'hello', (1, 2, 30)}

In [10]:
x = set()

x.pop()

KeyError: 'pop from an empty set'

In [11]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.clear()

print(x)

set()

In [13]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari'}

tea_or_coffee = tea |coffee # union
print(id(tea_or_coffee))

print(tea_or_coffee)

2872637716768
{'gita', 'sita', 'ram', 'hari', 'shyam'}

In [15]:
#or
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari'}

tea_or_coffee = tea.union(coffee) # union
print(id(tea_or_coffee))

print(tea_or_coffee)

2872637717888
{'gita', 'sita', 'ram', 'hari', 'shyam'}

In [16]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari','ram'}

tea_and_coffee = tea & coffee # intersection
print(id(tea_and_coffee))

print(tea_and_coffee)

2872637718112
{'ram'}

In [17]:
#or
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari','ram'}

tea_and_coffee = tea.intersection(coffee) # intersection
print(id(tea_and_coffee))

print(tea_and_coffee)

2872637717216
{'ram'}

In [18]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari','ram'}

tea_only = tea-coffee # difference
print(id(tea_only))

print(tea_only)

2872637716992
{'shyam', 'gita'}

In [20]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari','ram'}

tea_only = tea.difference(coffee) # difference
print(id(tea_only))

print(tea_only)

2872637713184
{'shyam', 'gita'}

In [19]:
#or
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari','ram'}

coffee_only =coffee-tea # difference
print(id(coffee_only))

print(coffee_only)

2872637718112
{'hari', 'sita'}

In [21]:
#symmetric difference
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari','ram'}

tea_only_and_coffee_only = tea^coffee # symmetric difference

print(tea_only_and_coffee_only)

{'shyam', 'gita', 'hari', 'sita'}

In [22]:
#symmetric difference
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari','ram'}

tea_only_and_coffee_only = tea.symmetric_difference(coffee) # symmetric difference

print(tea_only_and_coffee_only)

{'shyam', 'gita', 'hari', 'sita'}

In [23]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari','ram'}
'ram' in tea

True

In [24]:
for t in tea:
    print(t)

ram
gita
shyam

In [25]:
for c in coffee:
    print(c)

ram
hari
sita

In [26]:
#if set is needded in immutable then use frozenset([iterable])
x=frozenset({'ram', 'shyam', 'gita'}) #immutable
print(type(x))

<class 'frozenset'>

In [27]:
x.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [ ]:
#Set finished