In [4]:
x = 1
y = 2

sum = x + y

print(sum)

3

In [3]:
# python -m jupyter notebook

In [4]:
print("hello world")

hello world

In [7]:
name = 'ramesh'
print("My name is", name)

My name is ramesh

In [9]:
num1 = 10
num2 = 20

sum = num1 + num2

print(f"The sum of {num1} and {num2} is {sum}")

The sum of 10 and 20 is 30

In [10]:
first_name = "ramesh"
last_name = "pradhan"

print(f"My name is {first_name} {last_name}") # f-string => string interpolation

My name is ramesh pradhan

In [11]:
first_name = "ramesh"
last_name = "pradhan"

print("My name is {first_name} {last_name}")

My name is {first_name} {last_name}

In [13]:
print(1,2,3,4,5,6, 'hello')

1 2 3 4 5 6 hello

In [14]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [17]:
print(1,2,3,4,5,6, 'hello', sep='#')
print(1,2,3,4,5,6, 'hello', sep='#')
print(1,2,3,4,5,6, 'hello', sep='#')
print(1,2,3,4,5,6, 'hello', sep='#')
print(1,2,3,4,5,6, 'hello', sep='#')

1#2#3#4#5#6#hello
1#2#3#4#5#6#hello
1#2#3#4#5#6#hello
1#2#3#4#5#6#hello
1#2#3#4#5#6#hello

In [26]:
x = 'hello my name is ramesh\n\n. I am\tfrom ktm.'
print(x)

hello my name is ramesh

. I am	from ktm.

In [22]:
print(1,2,3,4,5,6, 'hello', sep='#', end='\n')
print(1,2,3,4,5,6, 'hello', sep='#', end='\n')
print(1,2,3,4,5,6, 'hello', sep='#')
print(1,2,3,4,5,6, 'hello', sep='#')
print(1,2,3,4,5,6, 'hello', sep='#')

1#2#3#4#5#6#hello
1#2#3#4#5#6#hello
1#2#3#4#5#6#hello
1#2#3#4#5#6#hello
1#2#3#4#5#6#hello

In [24]:
print(1,2,3,4,5,6, 'hello', sep='#', end='\t')
print(1,2,3,4,5,6, 'hello', sep='#')

1#2#3#4#5#6#hello	1#2#3#4#5#6#hello

In [27]:
first_name = "ramesh"
last_name = "pradhan"

print(f"My name is {first_name} {last_name}")

My name is ramesh pradhan

In [28]:
first_name = "ramesh"
last_name = "pradhan"

print("My name is {first_name} {last_name}".format(
    first_name=first_name,
    last_name=last_name))

My name is ramesh pradhan

In [29]:
first_name = "ramesh"
last_name = "pradhan"

print("My name is {x} {y}".format(
    x=first_name,
    y=last_name))

My name is ramesh pradhan

In [30]:
first_name = "ramesh"
last_name = "pradhan"

print("My name is {} {}".format(first_name,last_name))

My name is ramesh pradhan

In [31]:
first_name = input("Enter first name: ")
last_name = input("Enter last name: ")

print(f"My name is {first_name} {last_name}") 
# f-string => string interpolation

Enter first name: Ram
Enter last name: Hari
My name is Ram Hari

In [32]:
num1 = input("Enter first number: ")
num2 = input("Enter last number: ")

sum = num1 + num2

print(f"The sum of {num1} and {num2} is {sum}")

Enter first number: 3
Enter last number: 4
The sum of 3 and 4 is 34

In [36]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter last number: "))

sum = num1 + num2

print(f"The sum of {num1} and {num2} is {sum}")

Enter first number: 3
Enter last number: 4
The sum of 3 and 4 is 7

In [38]:
p = float(input("Enter the principle: "))
r = float(input("Enter the rate: "))
t = float(input("Enter the time: "))

i = (p*t*r) / 100

print(f"The SI is: {i}")

Enter the principle: 400000
Enter the rate: 10
Enter the time: 5
The SI is: 200000.0

In [42]:
x = 1
y = 2

sum = x + y

print("The sum of {0} and {1} is {2}".format(y,x,sum))

The sum of 1 and 2 is 3

In [41]:
number = int(input("Enter number: "))

# 'd' is for integer number formatting
print("The number is:{:d}".format(number))

# 'o' is for octal number formatting, binary and hexadecimal format
print('Output number in octal format : {:o}'.format(number))

# 'b' is for binary number formatting
print('Output number in binary format: {:b}'.format(number))

# 'x' is for hexadecimal format
print('Output number in hexadecimal format: {:x}'.format(number))

Enter number: 55
The number is:55
Output number in octal format : 67
Output number in binary format: 110111
Output number in hexadecimal format: 37

In [43]:
number = int(input("Enter number: "))

# 'd' is for integer number formatting
print(f"The number is:{number:d}")

# 'o' is for octal number formatting, binary and hexadecimal format
print(f'Output number in octal format : {number:o}')

# 'b' is for binary number formatting
print(f'Output number in binary format: {number:b}')

# 'x' is for hexadecimal format
print(f'Output number in hexadecimal format: {number:x}')

Enter number: 55
The number is:55
Output number in octal format : 67
Output number in binary format: 110111
Output number in hexadecimal format: 37

In [ ]:
area_of_circle / perimeter
area_of_rectangle / perimeter
area_of_square / square

In [45]:
x = 4
print(x ** 2)
print(x ** 3)

16
64

In [48]:
import math

r = int(input("enter the radius: "))
area_of_circle = math.pi * (r ** 2)
print(area_of_circle)

enter the radius: 5
78.53981633974483