In [1]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [2]:
person = {
    "id":1,
    "name":'ram',
    'mobile':923423423,
    'address':'ktm',
    'salary':23423.2342,
    'email':'hello@gmail.com'
}

person['phone'] = 9234234
person['hello'] = 'hello'

person

{'id': 1,
 'name': 'ram',
 'mobile': 923423423,
 'address': 'ktm',
 'salary': 23423.2342,
 'email': 'hello@gmail.com',
 'phone': 9234234,
 'hello': 'hello'}

In [3]:
person = {
    "id":1,
    "name":'ram',
    'mobile':923423423,
    'address':'ktm',
    'salary':23423.2342,
    'email':'hello@gmail.com'
}

person.update({"phone":932432423, "hello":"hello"})
person

{'id': 1,
 'name': 'ram',
 'mobile': 923423423,
 'address': 'ktm',
 'salary': 23423.2342,
 'email': 'hello@gmail.com',
 'phone': 932432423,
 'hello': 'hello'}

In [4]:
person.values()

dict_values([1, 'ram', 923423423, 'ktm', 23423.2342, 'hello@gmail.com', 932432423, 'hello'])

In [5]:
person = {
    "id":1,
    "name":'ram',
    'mobile':923423423,
    'address':'ktm',
    'salary':23423.2342,
    'email':'hello@gmail.com'
}

"hello" in person # looks in keys. not in values.

False

In [6]:
"mobile" in person

True

In [7]:
for i in person: # loops on keys
    print(i)

id
name
mobile
address
salary
email

In [8]:
for i in person.keys(): # loops on keys
    print(i)

id
name
mobile
address
salary
email

In [9]:
for i in person.values(): # loops on values
    print(i)

1
ram
923423423
ktm
23423.2342
hello@gmail.com

In [10]:
person.items()

dict_items([('id', 1), ('name', 'ram'), ('mobile', 923423423), ('address', 'ktm'), ('salary', 23423.2342), ('email', 'hello@gmail.com')])

In [11]:
for i in person.items(): # loops on keys and values
    print(i)

('id', 1)
('name', 'ram')
('mobile', 923423423)
('address', 'ktm')
('salary', 23423.2342)
('email', 'hello@gmail.com')

In [12]:
x = {}

print(type(x))

<class 'dict'>

In [13]:
x = dict()

print(type(x))

<class 'dict'>

In [15]:
# order is not maintained in set
# removes duplicate items
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4}
print(x)

{1, 2, 3, 34.5, 4, 5, 6, 'hello'}

In [16]:
# order is not maintained in set
# removes duplicate items
# cannot store mutable datatype => non-hashable
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,[1,2,3]}
print(x)

TypeError: unhashable type: 'list'

In [18]:
# order is not maintained in set
# removes duplicate items
# cannot store mutable datatype => non-hashable
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}
print(x)

{1, 2, 3, 34.5, 4, 5, 6, 'hello', (1, 2, 30)}

In [19]:
print(x[0]) # cannot access from index

TypeError: 'set' object is not subscriptable

In [20]:
x = set()

print(type(x))

<class 'set'>

In [22]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.add(7) # only one item 

print(x)

{1, 2, 3, 34.5, 4, 5, 6, 7, 'hello', (1, 2, 30)}

In [23]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.update([1,2,3,4,45,234,234,]) # multiple items
print(x)

{1, 2, 3, 34.5, 4, 5, 6, 234, 'hello', 45, (1, 2, 30)}

In [24]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.update([1,2,3,4,45,234,234,], (1,2,3,4), {4,12,34}) # multiple items
print(x)

{1, 2, 3, 34.5, 4, 5, 6, 34, 234, 'hello', 12, 45, (1, 2, 30)}

In [25]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [26]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.remove(1)

print(x)

{2, 3, 34.5, 4, 5, 6, 'hello', (1, 2, 30)}

In [27]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.remove(11)

print(x)

KeyError: 11

In [28]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.discard(1)

print(x)

{2, 3, 34.5, 4, 5, 6, 'hello', (1, 2, 30)}

In [29]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.discard(11)

print(x)

{1, 2, 3, 34.5, 4, 5, 6, 'hello', (1, 2, 30)}

In [31]:
help(x.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [35]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.pop()

print(x)

{2, 3, 34.5, 4, 5, 6, 'hello', (1, 2, 30)}

In [32]:
x = set()

x.pop()

KeyError: 'pop from an empty set'

In [33]:
x = {1, 'hello', 34.5, 2,3, 4,5,6,1,2,3,4,(1,2,30)}

x.clear()

print(x)

set()

In [38]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari'}

tea_or_coffee = tea | coffee # union
print(id(tea_or_coffee))

print(tea_or_coffee)

4392513856
{'ram', 'sita', 'hari', 'shyam', 'gita'}

In [39]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari'}

tea_or_coffee = tea.union(coffee) # union
print(id(tea_or_coffee))

print(tea_or_coffee)

4377093152
{'ram', 'sita', 'hari', 'shyam', 'gita'}

In [40]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari', 'ram'}

tea_and_coffee = tea & coffee # intersection

print(tea_and_coffee)

{'ram'}

In [41]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari', 'ram'}

tea_and_coffee = tea.intersection(coffee) # intersection

print(tea_and_coffee)

{'ram'}

In [42]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari', 'ram'}

tea_only = tea - coffee # difference

print(tea_only)

{'shyam', 'gita'}

In [43]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari', 'ram'}

tea_only = tea.difference(coffee) # difference

print(tea_only)

{'shyam', 'gita'}

In [44]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari', 'ram'}

coffee_only = coffee - tea # difference

print(coffee_only)

{'sita', 'hari'}

In [45]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari', 'ram'}

tea_only_and_coffee_only = coffee ^ tea # symmetric difference

print(tea_only_and_coffee_only)

{'sita', 'hari', 'shyam', 'gita'}

In [46]:
tea = {'ram', 'shyam', 'gita'}
coffee = {'sita', 'hari', 'ram'}

tea_only_and_coffee_only = coffee.symmetric_difference(tea) # symmetric difference

print(tea_only_and_coffee_only)

{'sita', 'hari', 'shyam', 'gita'}

In [47]:
tea = {'ram', 'shyam', 'gita'}

'ram' in tea

True

In [48]:
for t in tea:
    print(t)

ram
shyam
gita

In [49]:
x = frozenset({'ram', 'shyam', 'gita'}) # immutable

print(type(x))

<class 'frozenset'>

In [50]:
x.pop()

AttributeError: 'frozenset' object has no attribute 'pop'