In [1]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [2]:
person={
    'id':1,
    'name':'ram',
    'mobile':932423432,
    'address':'ktm',
    'salary':234234.2343,
    'email':'hello@gmail.com'
}
person['phone']=9234568
person['hello']='hello'
person

{'id': 1,
 'name': 'ram',
 'mobile': 932423432,
 'address': 'ktm',
 'salary': 234234.2343,
 'email': 'hello@gmail.com',
 'phone': 9234568,
 'hello': 'hello'}

In [3]:
person={
    'id':1,
    'name':'ram',
    'mobile':932423432,
    'address':'ktm',
    'salary':234234.2343,
    'email':'hello@gmail.com'
}
person.update({'phone':9345678888,'hello':'hello'})
person

{'id': 1,
 'name': 'ram',
 'mobile': 932423432,
 'address': 'ktm',
 'salary': 234234.2343,
 'email': 'hello@gmail.com',
 'phone': 9345678888,
 'hello': 'hello'}

In [4]:
person.values()

dict_values([1, 'ram', 932423432, 'ktm', 234234.2343, 'hello@gmail.com', 9345678888, 'hello'])

In [5]:
person={
    'id':1,
    'name':'ram',
    'mobile':932423432,
    'address':'ktm',
    'salary':234234.2343,
    'email':'hello@gmail.com'
}
'hello' in person #looks in keys not in values.

False

In [6]:
'mobile' in person

True

In [7]:
for i in person: #loops on keys.
    print(i)

id
name
mobile
address
salary
email

In [8]:
for i in person.keys(): #loops on keys.
    print(i)

id
name
mobile
address
salary
email

In [9]:
for i in person.values(): #loops on values.
    print(i)

1
ram
932423432
ktm
234234.2343
hello@gmail.com

In [10]:
person.items()

dict_items([('id', 1), ('name', 'ram'), ('mobile', 932423432), ('address', 'ktm'), ('salary', 234234.2343), ('email', 'hello@gmail.com')])

In [11]:
for i in person.items(): #loops on keys & values.
    print(i)

('id', 1)
('name', 'ram')
('mobile', 932423432)
('address', 'ktm')
('salary', 234234.2343)
('email', 'hello@gmail.com')

In [12]:
x={}
print(type(x))

<class 'dict'>

In [13]:
x=dict()
print(type(x))

<class 'dict'>

In [ ]:
#Dictionary Finished

In [ ]:
#Set Starts 
#ordered is not maintained in sets
#removes duplicate items
#Cannot store mutable data(non-hashable) only

In [14]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4}
print(x)

{1, 2, 3, 34.5, 4, 5, 6, 'hello'}

In [15]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,(1,2,30)}
print(x)

{1, 2, 3, 34.5, 4, 5, 6, (1, 2, 30), 'hello'}

In [16]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,[1,2,3]}
print(x)

TypeError: unhashable type: 'list'

In [17]:
print(x[0])#cannot access from index

TypeError: 'set' object is not subscriptable

In [18]:
x=set()
print(type(x))

<class 'set'>

In [19]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,(1,2,30)}
x.add(7)
print(x)

{1, 2, 3, 34.5, 4, 5, 6, 7, (1, 2, 30), 'hello'}

In [20]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,(1,2,30)}
x.update([1,2,3,4,45,234,234,])#multiple list
print(x)

{1, 2, 3, 34.5, 4, 5, 6, 234, 45, (1, 2, 30), 'hello'}

In [21]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,(1,2,30)}
x.update([1,2,3,4,45,234,234,],(1,2,3,4),{4,12,34})#multiple list
print(x)

{1, 2, 3, 34.5, 4, 5, 6, 34, 234, 12, 45, (1, 2, 30), 'hello'}

In [22]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [23]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,(1,2,30)} #removing elements from a set
x.remove(1)
print(x)

{2, 3, 34.5, 4, 5, 6, (1, 2, 30), 'hello'}

In [24]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,(1,2,30)} #removing elements from a set
x.remove(11)
print(x)

KeyError: 11

In [25]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,(1,2,30)} #removing elements from a set
x.discard(1)
print(x)

{2, 3, 34.5, 4, 5, 6, (1, 2, 30), 'hello'}

In [26]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,(1,2,30)}#removing elements from a set without showing error
x.discard(11)
print(x)

{1, 2, 3, 34.5, 4, 5, 6, (1, 2, 30), 'hello'}

In [27]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,(1,2,30)} 
x.pop()
print(x)

{2, 3, 34.5, 4, 5, 6, (1, 2, 30), 'hello'}

In [29]:
x=set()
x.pop()
print(x)

KeyError: 'pop from an empty set'

In [30]:
x={1,'hello',34.5,2,3,4,5,6,1,2,3,4,(1,2,30)} 
x.clear()
print(x)

set()

In [31]:
help(x.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [33]:
tea={'ram','shyam','gita'}
coffee={'sita','hari'}
tea_or_coffee=tea|coffee #union (pipe Sign)
print(tea_or_coffee)

{'gita', 'hari', 'sita', 'shyam', 'ram'}

In [34]:
tea={'ram','shyam','gita'}
coffee={'sita','hari'}
tea_or_coffee=tea|coffee #union 
print(id(tea_or_coffee))
print(tea_or_coffee)

2279215256448
{'gita', 'hari', 'sita', 'shyam', 'ram'}

In [35]:
tea={'ram','shyam','gita'}
coffee={'sita','hari','ram'}
tea_and_coffee=tea&coffee #intersection 
print(id(tea_and_coffee))
print(tea_and_coffee)

2279215256224
{'ram'}

In [36]:
tea={'ram','shyam','gita'}
coffee={'sita','hari','ram'}
tea_only=tea-coffee #Difference
print(id(tea_only))
print(tea_only)

2279215255552
{'gita', 'shyam'}

In [37]:
tea={'ram','shyam','gita'}
coffee={'sita','hari','ram'}
coffee_only=coffee-tea #Difference
print(id(coffee_only))
print(coffee_only)

2279215255328
{'hari', 'sita'}

In [38]:
tea={'ram','shyam','gita'}
coffee={'sita','hari','ram'}
tea_only_and_coffee_only=coffee^tea #Symmetric Difference
print(tea_only_and_coffee_only)

{'gita', 'shyam', 'hari', 'sita'}

In [ ]:
tea={'ram','shyam','gita'}
coffee={'sita','hari','ram'}
tea_only_and_coffee_only=coffee^tea #Symmetric Difference
print(tea_only_and_coffee_only)

In [39]:
tea={'ram','shyam','gita'}
'ram' in tea

True

In [40]:
for t in tea:
    print(t)

gita
shyam
ram

In [49]:

del frozenset

In [50]:
x=frozenset({'ram','shyam','gita'}) #immutable
print(type(x))

<class 'frozenset'>