In [1]:
x = 1 # variable => number => integer datatype / datastructure
y = 2 # variable => number => integer datatype / datastructure

sum = x + y # variable => addition

print(sum)

3

In [2]:
first_name = "ramesh" # string data type
last_name = "pradhan" # string data type

full_name = first_name + last_name # concatenation

print(full_name)

rameshpradhan

In [3]:
if = '1'
yield = 2

SyntaxError: invalid syntax (3983927147.py, line 1)

In [4]:
x = 1

print(X) # case sensitive

NameError: name 'X' is not defined

In [5]:
22x = 'ramesh'

SyntaxError: invalid decimal literal (1861348455.py, line 1)

In [6]:
first name = "ramesh" # string data type

SyntaxError: invalid syntax (1564582141.py, line 1)

In [7]:
Ramesh_Pradha12h = 'hello9'

In [8]:
__Helo_world = 'h'

In [9]:
he!23 = 32

SyntaxError: invalid syntax (2750018845.py, line 1)

In [11]:
HELLO_RODL='32'

In [14]:
x = 1+3+3+5+8+1+3+3+5+8+1+3+3+5+8+1+\
3+3+5+8+1+3+3+5+8+1+3+3+5+8+1+3+3+5+\
8+1+3+3+5+8+1+3+3+5+8

In [15]:
print(x)

180

In [16]:
x = (1+3+3+5+8+1+3+3+5+8+1+3+3+5+8+1+
     3+3+5+8+1+3+3+5+8+1+3+3+5+8+1+3+3+5+
     8+1+3+3+5+8+1+3+3+5+8)
print(x)

180

In [17]:
age = 17

if age < 18:
    print("Unauthorized") # tab => 4 spaces

Unauthorized

In [18]:
age = 17

if age < 18:
print("Unauthorized") # tab => 4 spaces

IndentationError: expected an indented block after 'if' statement on line 3 (1386160923.py, line 4)

In [25]:
def hello_world():
    """This function prints hello world...""" # docstring => documentation string
    # hellow ordl 2132k4h23h4kjesfhakjsdhfkj # => comment
    print("Hello world")

In [26]:
hello_world()

Hello world

In [27]:
help(hello_world)

Help on function hello_world in module __main__:

hello_world()
    This function prints hello world...

In [28]:
x =1
y= 2
z = 4

In [29]:
x, y, z = 1,2,4

In [30]:
print(x,y,z)

1 2 4

In [31]:
x =1;y= 2;z = 4
print(x,y,z)

1 2 4

In [32]:
a=2
b=2
c=2

In [33]:
a=b=c=2

In [34]:
gravity = 9.8 # varaible

In [35]:
GRAVITY = 9.8 # constant
PI = 3.14 # constant

In [36]:
GRAVITY =9.8

In [37]:
print(GRAVITY)

9.8

In [38]:
GRAVITY = 'hello' # dynamically typed language

In [39]:
print(GRAVITY)

hello

In [ ]:
# c , c++, java => compilled / statically typed language
float gravity = 9.8 # statically type
printf(gravity)

In [40]:
asdhfkadsasdfadsfd = 9.8
print(asdhfkadsasdfadsfd)

9.8

In [41]:
gravity = 9.8

In [42]:
gravity_of_earth = 9.8

In [43]:
g = 9.8

In [44]:
# variable, function name => lower_case
# class name => PascalCase

In [48]:
float_1 = 10.5 
float_2 = 1.5e2

print(float_1)
print(float_2)

print(type(float_1))

10.5
150.0
<class 'float'>

In [49]:
x = 3.14j
print(x)
print(type(x))

3.14j
<class 'complex'>

In [50]:
x = 1
print(type(x))

<class 'int'>

In [51]:
# binary => 0, 1 => computer => 2 digits
# octal = > 0..7 => 8 digits
# hexadecimal => 0..9, a-f => 16 digits
# decimal => 0...9 => 10 digits

In [52]:
x = 'nepal is beautiful'

In [54]:
print(x)
print(type(x))

nepal is beautiful
<class 'str'>

In [55]:
x = "nepal is beautiful"
print(x)
print(type(x))

nepal is beautiful
<class 'str'>

In [56]:
x ='dog's animal'

SyntaxError: unterminated string literal (detected at line 1) (2304164668.py, line 1)

In [57]:
x ="dog's animal"

In [58]:
x ='dog "the dog" animal'

In [60]:
x ="""dog's animal dog "the dog" animal"""
print(x)

dog's animal dog "the dog" animal

In [61]:
x ='''dog's animal dog "the dog" animal'''
print(x)

dog's animal dog "the dog" animal

In [63]:
x = 'nepal is beafutiful country.

hello world'

SyntaxError: unterminated string literal (detected at line 1) (735805081.py, line 1)

In [64]:
x = """nepal is beafutiful country.

hello world"""

In [65]:
print(x)

nepal is beafutiful country.

hello world

In [66]:
# asccii => unicode
unicode = u"\u00dcnic\u00f6de"
print(unicode)

Ünicöde

In [67]:
x = True

In [68]:
y = False

In [69]:
food = None
print(food)

None

In [70]:
print(type(food))

<class 'NoneType'>

In [71]:
fruits = ['apple', 'banana', 'organge']

In [72]:
print(type(fruits))

<class 'list'>

In [74]:
fruits = ('apple', 'banana', 'organge')
print(type(fruits))

<class 'tuple'>

In [75]:
fruits = {'apple', 'banana', 'organge'}
print(type(fruits))

<class 'set'>

In [76]:
person = {
    'name':'ram',
    'address':'ktm',
    'phone':92234234
}
print(type(person))

<class 'dict'>

In [78]:
fruits = {'apple', 'banana', 'organge', 'apple'}
print(fruits)

{'organge', 'banana', 'apple'}

In [79]:
x = 5 # integer

print(float(x))

5.0

In [80]:
x = 4.5 # float

print(int(x))

4

In [82]:
x = 4 # integer
y = str(x)
print(y, type(y))

4 <class 'str'>

In [83]:
x = '35'

print(int(x))

35

In [84]:
x = '35p'

print(int(x))

ValueError: invalid literal for int() with base 10: '35p'

In [85]:
hello = 'hi hello'
print(list(hello))

['h', 'i', ' ', 'h', 'e', 'l', 'l', 'o']

In [86]:
hello = 'hi hello'
print(set(hello))

{' ', 'o', 'h', 'l', 'i', 'e'}

In [87]:
hello = 'hi hello'
print(tuple(hello))

('h', 'i', ' ', 'h', 'e', 'l', 'l', 'o')

In [88]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}