In [ ]:
#ist in Python

In [1]:
fruit1='apple'
fruit2='banana'
fruit3='grapes'
fruit4='mango'
print(fruit1,fruit2,fruit3,fruit4)

apple banana grapes mango

In [4]:
fruits=['apple','banana','grapes','mango']#list data structures/datatypes
print(fruits)

['apple', 'banana', 'grapes', 'mango']

In [5]:
my_list=[1,0.1,'hello',1+4j,['hello','hi']]
#any datatype can be inserted inside list
print(my_list)

[1, 0.1, 'hello', (1+4j), ['hello', 'hi']]

In [6]:
fruits=['apple','banana','grapes','mango']
print(fruits[1])

banana

In [7]:
fruits=['apple','banana','grapes','mango']
print(fruits[0:3])

['apple', 'banana', 'grapes']

In [8]:
fruits[-1]

'mango'

In [9]:
fruits=['apple','banana','grapes','mango']#mutable datatype=>can be changed later
fruits.append('guava')#insert at last of list
print(fruits)

['apple', 'banana', 'grapes', 'mango', 'guava']

In [10]:
x='ram'
del x[0]

TypeError: 'str' object doesn't support item deletion

In [11]:
#mutable => list, dictionary,set
#immutable => number,string,tuple
fruits=['apple','banana','grapes','mango']
del fruits[0]
print(fruits)

['banana', 'grapes', 'mango']

In [12]:
fruits=['apple','banana','grapes','mango']
#mutable datatypes can be changed later
del fruits[[0][0]]
print(fruits)

['banana', 'grapes', 'mango']

In [13]:
numbers=[1,[2,3,4],6,7,8,9]
print(numbers)

[1, [2, 3, 4], 6, 7, 8, 9]

In [14]:
numbers=[1,[2,3,4],6,7,8,9]
print(numbers[1][0])

2

In [17]:
numbers=[1,4,[7,[[2,3,4,5,6,7,8],6],7,8],9]
numbers[2]

[7, [[2, 3, 4, 5, 6, 7, 8], 6], 7, 8]

In [18]:
numbers[2][1]

[[2, 3, 4, 5, 6, 7, 8], 6]

In [19]:
numbers[2][1][1]

6

In [20]:
numbers=[1,4,[7,[[2,3,4,5,7,8],6],7,8],9]
numbers[2]

[7, [[2, 3, 4, 5, 7, 8], 6], 7, 8]

In [21]:
numbers[2][1]

[[2, 3, 4, 5, 7, 8], 6]

In [22]:
numbers[2][1][0]

[2, 3, 4, 5, 7, 8]

In [24]:
numbers[2][1][0][3:]

[5, 7, 8]

In [25]:
numbers=[1,4,[7,[[2,3,4,5,7,8],6],7,8],9]
numbers[2]

[7, [[2, 3, 4, 5, 7, 8], 6], 7, 8]

In [26]:
numbers[2][1]

[[2, 3, 4, 5, 7, 8], 6]

In [27]:
numbers[2][1][0]

[2, 3, 4, 5, 7, 8]

In [30]:
numbers=[1,2,3,4,5,6]
y=numbers
y.append('hello')
print(y)
print(numbers)

[1, 2, 3, 4, 5, 6, 'hello']
[1, 2, 3, 4, 5, 6, 'hello']

In [31]:
numbers=[1,2,3,4,5,6]
print(id(numbers))
y=numbers # pointing to same memory address of numbers
print(id(y))
y.append('hello')
print(y)
print(numbers)

2920278782336
2920278782336
[1, 2, 3, 4, 5, 6, 'hello']
[1, 2, 3, 4, 5, 6, 'hello']

In [32]:
numbers=[1,2,3,4,5,6]
print(id(numbers))
y=numbers[:] # get all values of numbers and add to separate memory address
print(id(y))
y.append('hello')
print(y)
print(numbers)

2920284018752
2920283933760
[1, 2, 3, 4, 5, 6, 'hello']
[1, 2, 3, 4, 5, 6]

In [33]:
fruits=['apple','banana','grapes','mango']
fruits[1]='orange'
fruits

['apple', 'orange', 'grapes', 'mango']

In [34]:
fruits1=['apple','banana','grapes','mango']
fruits2=['apple','banana','grapes','mango']
x=fruits1+fruits2# list concatenation
print(x)

['apple', 'banana', 'grapes', 'mango', 'apple', 'banana', 'grapes', 'mango']

In [35]:
fruits=['apple','banana','grapes','mango']
fruits+'hello'

TypeError: can only concatenate list (not "str") to list

In [36]:
fruits=['apple','banana','grapes','mango']
x=fruits*2 #repeat 2 times i.e replication
print(x)

['apple', 'banana', 'grapes', 'mango', 'apple', 'banana', 'grapes', 'mango']

In [37]:
fruits=['apple','banana','grapes','mango']
fruits*['hello']

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
fruits=['apple','banana','grapes','mango']
fruits*['hello']