In [2]:
x = [1,2,3,4,5]

for i in x:
    print(i)

1
2
3
4
5

In [7]:
print(1,2,3,4,sep=',')

1,2,3,4

In [8]:
x = [1,2,3,4,5] # iterable => string, tuple, list, set, dictionary

for i in x:
    print(i ** 2, end=',')

1,4,9,16,25,

In [3]:
x = [1,2,3,4,5] # iterable => string, tuple, list, set, dictionary

for i in x:
    print(i ** 2)

1
4
9
16
25

In [5]:
x = [1,2,3,4,5] 
square = [] # [1,4,9,16,25]

for xyz in x:
    square.append(xyz ** 2)
    
print(square)

[1, 4, 9, 16, 25]

In [6]:
x = [1,2,3,4,5] 
print(x)

[1, 2, 3, 4, 5]

In [9]:
x = [1,2,3,4,5]
sum = 0

for i in x:
    sum += i # 1 + 2 + 3 
    
print(sum)

15

In [12]:
x = [1,2,3,4,5]
mul = 1

for i in x:
    mul *= i # 1 * 2 * 3 
    
print(mul)

120

In [13]:
x = [1,2,3,4,5,6,7,8,9,10]
# remainder should be 1 when divided by 2

for i in x:
    if i % 2 == 1:
        print(i)

1
3
5
7
9

In [14]:
x = [1,2,3,4,5,6,7,8,9,10]
# remainder should be 1 when divided by 2

for i in x:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [16]:
x = [1,2,3,4,5,6,7,8,9,10]
# remainder should be 1 when divided by 2

even_list = []
for i in x:
    if i % 2 == 0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10]

In [23]:
x = [1,2,3,4,5,6,7,8,9,10,11,12,24] 
# divisible by 3 and divisible by 4
for i in x:
    if i % 3 == 0 and i % 4 == 0:
        print(i)

12
24

In [19]:
x = [1,2,3,4,5,6,7,8,9,10,11,12,24] 
# divisible by 3 and divisible by 4
numbers = []
for i in x:
    if i % 3 == 0 and i % 4 == 0:
        numbers.append(i)

print(numbers)

[12, 24]

In [20]:
x = [1,2,3,4,5,12,1,6,2,7,8,9,3,9,10,11,12,24,1,2,3,8] 
unique_list = list(set(x))
print(unique_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 24]

In [25]:
x = [100,1,2,1,3,4,5,12,1,6,2,7,8,9,3,9,10,11,12,24,1,2,3,8] 

unique_list = [] # [1,2,]

for i in x:
    if i not in unique_list:
        unique_list.append(i)
        
print(unique_list)

[100, 1, 2, 3, 4, 5, 12, 6, 7, 8, 9, 10, 11, 24]

In [26]:
x = (100,1,2,1,3,4,5,12,1,6,2,7,8,9,3,9,10,11,12,24,1,2,3,8) 
# order maintain

unique_list = [] # [1,2,]

for i in x:
    if i not in unique_list:
        unique_list.append(i)
        
print(unique_list)

[100, 1, 2, 3, 4, 5, 12, 6, 7, 8, 9, 10, 11, 24]

In [27]:
name = 'ramesh pradhan' # count no of vowels => a,e,i,o,u

for i in name:
    print(i)

r
a
m
e
s
h

p
r
a
d
h
a
n

In [28]:
name = 'ramesh pradhan' # count no of vowels => a,e,i,o,u

vowel_count = 0
for i in name:
    if i in 'aeiou':
        vowel_count += 1
        
print(vowel_count)

4

In [30]:
name = 'ramesh prAdhAn' # count no of vowels => a,e,i,o,u

vowel_count = 0
for i in name:
    if i.lower() in 'aeiou':
        vowel_count += 1
        
print(vowel_count)

4

In [31]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 

for m in marks: # loops in keys
    print(m)

Alan
Bill
Cory

In [32]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 

for m in marks.keys(): # loops in keys
    print(m)

Alan
Bill
Cory

In [33]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 

for m in marks.values(): # loops in values
    print(m)

99
55
77

In [34]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 

total_marks = 0
for m in marks.values(): # loops in values
    total_marks += m
    
print(total_marks)

231

In [35]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 

for m in marks.items(): # loops in key, value pair
    print(m)

('Alan', 99)
('Bill', 55)
('Cory', 77)

In [36]:
x, y = ('Alan', 99) # tuple unpacking

print(x,y)

Alan 99

In [37]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 

for k, v in marks.items(): # loops in key, value pair => upacking key,value pair in k,v
    print(k, v)

Alan 99
Bill 55
Cory 77

In [38]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 

total_marks = 0
for k, v in marks.items(): # loops in key, value pair => upacking key,value pair in k,v
    total_marks += v
    
print(total_marks)

231

In [40]:
x = {100,1,2,1,3,4,5,12,1,6,2,7,8,9,3,9,10,11,12,24,1,2,3,8}

for i in x:
    print(i, end=',')

1,2,3,100,4,5,6,7,8,9,10,12,11,24,

In [41]:
x = [100,1,2,1,3,4,5,12,1,6,2]

# index, value
# 0, 100
# 1, 1
# 2, 2
# 3, 1

In [42]:
range(0, 10)

range(0, 10)

In [43]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(2, 10, 1))

[2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
list(range(2, 10, 2)) # start, end, step

[2, 4, 6, 8]

In [47]:
list(range(10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [48]:
x = [100,1,2,1,3,4,5,12,1,6,2]

print(len(x))

11

In [51]:
list(range(0,len(x)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
x = [100,1,2,1,3,4,5,12,1,6,2]

for i in range(0,len(x)): #[0,1,2,3,4,5,..., 10]
    print(x[i], end=',')

100,1,2,1,3,4,5,12,1,6,2,

In [52]:
x = [100,1,2,1,3,4,5,12,1,6,2]

for i in range(0,len(x)): #[0,1,2,3,4,5,..., 10]
    print(i, x[i])

0 100
1 1
2 2
3 1
4 3
5 4
6 5
7 12
8 1
9 6
10 2

In [54]:
len(x)

11

In [57]:
list(range(len(x)-1 ,-1, -1)) # 0,

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [55]:
x = [100,1,2,1,3,4,5,12,1,6,2]
print(x[11])

IndexError: list index out of range

In [58]:
x = [100,1,2,1,3,4,5,12,1,6,2]

for i in range(len(x)-1, -1, -1):
    print(x[i], end=',')

2,6,1,12,5,4,3,1,2,1,100,

In [60]:
us_price = {'milk': 2.03, 'bread': 2.6, 'butter': 2.6}
nep_price = {}

for k, v in us_price.items():
    nep_price.update({k:v*132.33})
    
print(nep_price)

{'milk': 268.6299, 'bread': 344.05800000000005, 'butter': 344.05800000000005}

In [61]:
us_price = {'milk': 2.03, 'bread': 2.6, 'butter': 2.6}
nep_price = {}

for k, v in us_price.items():
    nep_price.update({k:v*132.33*1.13})
    
print(nep_price)

{'milk': 303.551787, 'bread': 388.78554, 'butter': 388.78554}

In [66]:
us_price = {'milk': 2.03, 'bread': 2.6, 'butter': 2.6}
nep_price = {}

for k, v in us_price.items():
    nep_price.update({k:(v*132.33)+ (v * 13 / 100) * 132.33})
    
print(nep_price)

{'milk': 303.551787, 'bread': 388.7855400000001, 'butter': 388.7855400000001}

In [ ]:
us_price = {'milk': 2.03, 'bread': 2.6, 'butter': 2.6, "mobile":300, "sugar":5}