In [1]:
age = 18

if age >= 18:
    print("eligilble")
else:
    print("Not eligible")

eligilble

In [ ]:
(if output) if (condition) else (else output)

In [2]:
age = 18
# ternary operator
eligible = "eligible" if age >= 18 else "not eligible"
print(eligible)

eligible

In [3]:
numbers = [1,2,3,4,5,6,7,8,9]

# [odd, even, odd,...]
output = []
for number in numbers:
    if number % 2 == 0:
        output.append('even')
    else:
        output.append('odd')
        
print(output)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [4]:
numbers = [1,2,3,4,5,6,7,8,9]

output = ['even' if number % 2 == 0 else 'odd' for number in numbers]
print(output)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [6]:
numbers = [-8, -7, -3, -1, 0, 1, 3, 4, 5, 7, 6, 8, 10]

positive_numbers = []
for number in numbers:
    if number > 0:
        positive_numbers.append(number)
        
print(positive_numbers)

[1, 3, 4, 5, 7, 6, 8, 10]

In [7]:
numbers = [-8, -7, -3, -1, 0, 1, 3, 4, 5, 7, 6, 8, 10]

positive_numbers = [number for number in numbers if number > 0]
print(positive_numbers)

[1, 3, 4, 5, 7, 6, 8, 10]

In [8]:
us_price = {'milk': 2.05, 'bread': 2.6, 'butter': 2.6}
# {'milk': 267.09, 'bread': 2.6, 'butter': 2.6}

np_price = {}
for product, price in us_price.items():
    np_price.update({product:price * 130.29})

print(np_price)

{'milk': 267.0945, 'bread': 338.754, 'butter': 338.754}

In [9]:
us_price = {'milk': 2.05, 'bread': 2.6, 'butter': 2.6}

np_price = {product:price * 130.29 
            for product, price in us_price.items()}
print(np_price)

{'milk': 267.0945, 'bread': 338.754, 'butter': 338.754}

In [10]:
us_price = {'milk': 2.05, 'bread': 2.6, 
            'butter': 2.6, 'meat':5, 'soap':1}

np_price = {}
for product, price in us_price.items():
    if price < 5:
        np_price.update({product:price * 130.29})

print(np_price)

{'milk': 267.0945, 'bread': 338.754, 'butter': 338.754, 'soap': 130.29}

In [12]:
# code refactoring
us_price = {'milk': 2.05, 'bread': 2.6, 
            'butter': 2.6, 'meat':5, 'soap':1}

np_price = {product: price * 130.29 
            for product, price in us_price.items() 
            if price < 5}

print(np_price)

{'milk': 267.0945, 'bread': 338.754, 'butter': 338.754, 'soap': 130.29}

In [13]:
us_price = {'milk': 2.05, 'bread': 2.6, 
            'butter': 2.6, 'meat':5, 'soap':1}

np_price = {}
for product, price in us_price.items():
    if price < 5:
        np_price.update({product:1.13 * price * 130.29})
    else:
        np_price.update({product: 1.20 * price * 130.29})

print(np_price)

{'milk': 301.8167849999999, 'bread': 382.7920199999999, 'butter': 382.7920199999999, 'meat': 781.74, 'soap': 147.22769999999997}

In [14]:
us_price = {'milk': 2.05, 'bread': 2.6, 
            'butter': 2.6, 'meat':5, 'soap':1}

np_price = {product: (1.13 * price * 130.29 if price < 5 
                      else 1.20 * price * 130.29) 
            for product, price in us_price.items()}
print(np_price)

{'milk': 301.8167849999999, 'bread': 382.7920199999999, 'butter': 382.7920199999999, 'meat': 781.74, 'soap': 147.22769999999997}

In [15]:
us_price = {'milk': 2.05, 'bread': 2.6, 
            'butter': 2.6, 'meat':5, 'soap':1}

np_price = {product: 1.13 * price * 130.29 if price < 5 
                      else product: 1.20 * price * 130.29 
            for product, price in us_price.items()}
print(np_price)

SyntaxError: invalid syntax (1603311129.py, line 5)

In [16]:
us_price = {'milk': 2.05, 'bread': 2.6, 
            'butter': 2.6, 'meat':5, 'soap':1}

np_price = {product: 1.13 * price * 130.29 if price < 5 else 1.20 * price * 130.29
            for product, price in us_price.items()}
print(np_price)

{'milk': 301.8167849999999, 'bread': 382.7920199999999, 'butter': 382.7920199999999, 'meat': 781.74, 'soap': 147.22769999999997}