In [1]:
import sqlite3
con=sqlite3.connect('students.db')
cur=con.cursor()

In [2]:
students=[
(5,'hari bahadur','lalitpur','ncit',23,'m','SE','PU','9846448426','hari@gmail.com'),
(6,'madan bahadur','kathmandu','british college',24,'m','UK','BIT','9846448926','madan@gmail.com'),
(7,'maya devi','lalitpur','ncit',23,'m','SE','PU','9846448726','maya@gmail.com')
]

In [ ]:
INSERT_STUDENT_QUERY ="""

insert into student 
('id','name','address','college','age','gender','faculty','university','contact','email')
values
(?,?,?,?,?,?,?,?,?,?);

"""
cur.executemany(INSERT_STUDENT_QUERY,students)

In [13]:
import sqlite3
con=sqlite3.connect('students.db')
cur=con.cursor()

In [14]:
student=(8,'Sandesh Chaulagain','Bhaktapur','WRC',23,'m','SE','TU','9846448426','Sandes.cgn@gmail.com')
    
INSERT_STUDENT_QUERY ="""

insert into student 
('id','name','address','college','age','gender','faculty','university','contact','email')
values
(?,?,?,?,?,?,?,?,?,?);

"""

cur.execute(INSERT_STUDENT_QUERY,student)

OperationalError: no such table: student