In [1]:
x= 1 #variable => number => integer datatype/datastructure
y= 2 #variable => number => integer datatype/datastructure

sum= x+y #variable => addition
print(sum)

3

In [2]:
first_name='Sandesh' #string data type
last_name= 'Chaulagain'#string data type
full_name= first_name+last_name #Concatenation
print(full_name)

SandeshChaulagain

In [3]:
#rough   #This does not give output as it is used by python itself 
#cannot use a keyword as a variable name, function name or any other identifier
# define the syntax and structure
#case sensitive
# 35 keywords
if= '1'
yield='2'

SyntaxError: invalid syntax (783374512.py, line 2)

In [4]:
x=1 #Python variables are case sensitive
print(X) #case sensitive

NameError: name 'X' is not defined

In [7]:
# identifiers canot start with digits

22x= 'sandesh'

SyntaxError: invalid decimal literal (3019549716.py, line 3)

In [6]:
#Keywords cannot be used as an identifiers.
if= '1'
yield='2'

SyntaxError: invalid syntax (3425727918.py, line 2)

In [9]:
first name='Sandesh' #Space is special symbol so cannot be used

SyntaxError: invalid syntax (611185591.py, line 1)

In [10]:
Sandesh_Chaulagain35h='hello' #Valid

In [11]:
_hello_world='hello' #valid starts with underscore

In [12]:
he!23=32 #Invalid Starts with special symbols

SyntaxError: invalid syntax (2720554057.py, line 1)

In [13]:
HELLO_WORLD='32' #valid Python statement

In [15]:
x=1+3+3+5+8+1+3+3+5+8+1+3+3+5+8+1+3+3+5+8+\   #Use of \
1+3+3+5+8+1+3+3+5+8+1+3+3+5+8+\
1+3+3+5+8+1+3+3+5+8
print(x)

180

In [16]:
x=(1+3+3+5+8+1+3+3+5+8+   #Use of ()
   1+3+3+5+8+1+3+3+5+8+
   1+3+3+5+8+1+3+3+5+8+
   1+3+3+5+8+1+3+3+5+8+1+3+3+5+8)
print(x)

180

In [17]:
age= 17 # In Python indentation used (in if,if else,loop indentation used like :, 4 spaces(tabs))
if age<18:
    print('Unauthorized') #indentation (1 tab takes 4 spaces)

Unauthorized

In [18]:
age= 17 # In Python indentation used (in if,if else,loop indentation used like :, 4 spaces(tabs))
if age<18:
print('Unauthorized') #indentation Wrong (1 tab takes 4 spaces)

IndentationError: expected an indented block after 'if' statement on line 2 (1818584004.py, line 3)

In [23]:
def hello_world():
    """This function prints hello world"""
    print('Hello World')
hello_world() #Functions should be called always.

Hello World

In [ ]:
def hello_world():
    #Python Docstrings example =>Comment =>it does not compile
    """This function prints hello world""" #Docstrings =>Documentation string(But python keeps in memory)=>it will compile 
    print('Hello World')
hello_world()

In [25]:
help(hello_world)

Help on function hello_world in module __main__:

hello_world()
    This function prints hello world

In [ ]:
# country='Nepal' #string
number= 1  #integer
f_number=1.5 #float
c_number= 1+6j #complex
x,y,z= 1,2.5, 'python'
a=b=c='test'

In [ ]:
x=1
y=2
z=4

In [26]:
x,y,z=1,2,4

In [27]:
print(x,y,z)

1 2 4

In [28]:
x=1;y=2;z=4
print(x,y,z)

1 2 4

In [ ]:
a=2
b=2
c=2

In [29]:
a=b=c=2

In [ ]:
gravity=9.8 #Variable

In [31]:
GRAVITY=9.8 #Constants
PI=3.14 #Constants

In [32]:
GRAVITY=9.8
print(GRAVITY)

9.8

In [33]:
GRAVITY='hello'  #Dynamically Typed Language
print(GRAVITY)

hello

In [ ]:
float_gravity=9.8

In [ ]:
#c,c++,java =>compilled/Statically typed language
float gravity=9.8 #statically typed
print(gravity)

In [35]:
affgsghthythtyhtyjty=9.8
print(affgsghthythtyhtyjty)

9.8

In [ ]:
gravity=9.8 #write variables name in your clarification.
gravity_of_earth=9.8
g=9.8

In [ ]:
#variable,function name =>lower_case
#class name => PascalCase

In [40]:
#Literals
#float_Literals
float_1=10.5
float_2=1.5e2
print(float_1)
print(float_2)
print(type(float_1))

10.5
150.0
<class 'float'>

In [41]:
x=3.14j  #Complex literal
print(x)
print(type(x))

3.14j
<class 'complex'>

In [42]:
x=1
print(type(x))

<class 'int'>

In [ ]:
#Numeric Literals
a= 0b1010 #Binary Literals => 2 digits => 0,1
b=100 #Decimal Literal => 10 digits => 0-9
c=0o310 #Octal Literal => 8 digits => 0-7
d= 0x12cd #Hexadecimal Literal => 16 digits => 0-9 a-f

In [ ]:
#In Numeric literals the output will always be in decimal form

In [ ]:
#String literals Examples
string='This is python'
char='c'

In [43]:
x= 'nepal is beautiful'
print(x)
print(type(x))

nepal is beautiful
<class 'str'>

In [44]:
x= "nepal is beautiful"
print(x)
print(type(x))

nepal is beautiful
<class 'str'>

In [45]:
x="'dog' is a animal"  # single,double &triple quotation used method
print(x)

'dog' is a animal

In [46]:
x=" dog's a animal"

In [47]:
x= 'dog "the animal"'

In [49]:
x="""dog's animal dog "the dog" animal """  
print(x)

dog's animal dog "the dog" animal

In [50]:
x='''dog's animal dog "the dog" animal '''
print(x)

dog's animal dog "the dog" animal

In [51]:
#in multiline string triple quotation used
x= """Nepal is a beautiful country.    

hello world"""
print(x)

Nepal is a beautiful country.

hello world

In [52]:
#ascii => unicode
unicode= u"\u00dcnic\u00f6de"
print(unicode)

Ünicöde

In [53]:
#Boolean Literal
x= True
y=False

In [54]:
food=None
print(food)
print(type(food))

None
<class 'NoneType'>

In [55]:
#Literal Collections
#List,tuple,Dictionary & Set literals
fruits=['apple','mango','orange'] #List
numbers= (1,2,3) #tuple
alphabets= {'a':'apple','b':'ball','c':'cat'} #Dictionary
vowels= {'a','e','i','o','u'} #set
print(fruits)

['apple', 'mango', 'orange']

In [56]:
fruits=['apple','banana','orange'] #list
print(fruits)
print(type(fruits))

['apple', 'banana', 'orange']
<class 'list'>

In [57]:
fruits=('apple','banana','orange') #tuple
print(fruits)
print(type(fruits))

('apple', 'banana', 'orange')
<class 'tuple'>

In [58]:
fruits={'apple','banana','orange'}  #set
print(fruits)
print(type(fruits))

{'orange', 'banana', 'apple'}
<class 'set'>

In [60]:
#Dictionary (Left one is key right one is value separated by colon)
person={
    'Name':'Sandesh',
    'address': 'Bhaktapur',
    'Phone Number':9846448426
}
print(person)
print(type(person))

{'Name': 'Sandesh', 'address': 'Bhaktapur', 'Phone Number': 9846448426}
<class 'dict'>

In [61]:
# Type Conversion
x=5 #int
print(float(x))

5.0

In [62]:
x=4.5 #float
print(int(x))

4

In [64]:
x=4 #int
y=str(x)
print(y,type(y))

4 <class 'str'>

In [65]:
int(10.6)

10

In [66]:
float(10)

10.0

In [67]:
int(-10.6)

-10

In [68]:
float('2.5')

2.5

In [69]:
str(25)

'25'

In [70]:
int('1p')

ValueError: invalid literal for int() with base 10: '1p'

In [71]:
x='35'
print(int(x))

35

In [72]:
x='35p'
print(int(x))

ValueError: invalid literal for int() with base 10: '35p'

In [74]:
hello='hi hello'
print(list(hello))

['h', 'i', ' ', 'h', 'e', 'l', 'l', 'o']

In [75]:
hello='hi hello'
print(set(hello))

{'h', 'l', 'o', ' ', 'i', 'e'}

In [76]:
hello='hi hello'
print(tuple(hello))

('h', 'i', ' ', 'h', 'e', 'l', 'l', 'o')

In [78]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [79]:
dict([(3,26),(4,44)])

{3: 26, 4: 44}